@{
    ViewData["Title"] = "Groups";
}

@model List<Group>

@if (Model != null)
{
    @foreach (var group in Model)
    {
        <div class="item" title="@group.Description">
            @if (String.IsNullOrWhiteSpace(group.ImageUrl))
            {
                <img src="~/css/icons/default-chat-icon.png"
                    id=@group.Id runat="server"
                    style="width: 100px; height: 100px;" onclick="setGroupId('@group.Id')" />
                <span class="caption">@group.Name</span>
            }
            else
            {
                <img src="@Url.Content(group.ImageUrl)"
                    id=@group.Id runat="server"
                    style="width: 100px; height: 100px;" onclick="setGroupId('@group.Id')" />
                <span class="caption">@group.Name</span>
            }

        </div>
    }

    <div class="item" title="New Group" id="add-new-group" data-request-url="@Url.Action("SetGroupId","Group")">
        <img src="~/css/icons/add-chat-icon.png" runat="server"
         style="width: 100px; height: 100px;" onclick="redirectToGroupCreate()" />
        <span class="caption">Add Group</span>
    </div>
}

<script src="~/js/index-group.js"></script>